<h2>
  <%= link_to("#{ingredient.name}", ingredient_path(ingredient)) %>
  <%= link_to(image_tag('http://i.imgur.com/PYI7y3E.png', size: "14", class: "button"), edit_ingredient_path(ingredient)) %> <%= link_to(image_tag('http://i.imgur.com/TZjRfjf.png', size: "14", class: 'button'), ingredient_path(ingredient), method: :delete, data:{confirm: 'Confirm Deleting'}) %>
</h2>