<div class='content'>
<br>
<br>
<br>
<center>
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
<h2>Welcome to Simon's Cookbook App!</h2>
</center>
<p>Navigate about to see recipes.</p>
<p>Sign up or Sign in, to create new recipes! (Maybe... That function needs implemented still)</p>
<br>
<p>Happy Cooking!</p>
</div>