<center>
  <br>
  <br>
  <h2>Recipe Ingredient Amounts</h2>
  <br>

  <% @quantities.each do |q| %>
    <%= q.amount %> - <%= q.ingredient.try(:name) %> <%= link_to(image_tag("http://i.imgur.com/PYI7y3E.png", size: '9', class: 'imgbutton'), quantity_path(q), method: :delete, data:{confirm: 'Confirm Deleting'}) %><br>
  <% end %>


</center>

<footer>
  <center>
    <%= link_to 'New Ingredient Amount', new_quantity_path, class: 'button' if can? :create, Quantity %>
  </center>
</footer>