body {
  font-family: Arial, Helvetica, sans-serif;
  height: 100%;
  width: 100%;
}

.wrap {
  width: 960px;
  margin: 0 auto 0 auto;
}

header {
  padding-top: 10px;
}

ul {
  list-style-type: none;
  padding-left: 0;
}

li {
  display: inline;
}

form {
  display: inline-block;
}

.formleft {
  padding-left: 200px;
  width: 150px;
  float: left;
}

.formright {
  width: 300px;
}

.fcbright {
  display: inline-block;
  width: 300px;
  float: right;
}

.ingredientlist {

}

.imgdelbut {
  background: url(http://i.imgur.com/HNReW2T.png);
  background-size: 15px;
  background-position: 0px 13px;
  padding: 15px;
  background-repeat: no-repeat;
  border: none;
}






/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
