  <h2>
    <%= link_to("#{category.name}", category_path(category)) %>
  <%= link_to(image_tag('http://i.imgur.com/PYI7y3E.png', size: "12", class: "imgbutton"), edit_category_path(category)) %> <%= link_to(image_tag('http://i.imgur.com/TZjRfjf.png', size: "12", class: 'imgbutton'), category_path(category), method: :delete, data:{confirm: 'Confirm Deleting'}) %>
  </h2>