<%= form_for @category do |f| %>
<%= f.label :name, "Category Name:", class: "formleft" %>
<%= f.text_field :name, class: "formright" %>
<br>
<br>
<center>
<div class='submitform'>
  <%= f.submit button_text, class: "button" %>
</div>
</center>
<% end %>