<center>
  <br>
  <br>
  <h1>Categories</h1>
  <br>
  <%= render @categories %>
</center>


<footer>
  <center>
    <%= link_to "Add Category", new_category_path, class: 'button' if can? :create, Category %>
  </center>
</footer>