<nav>
  <ul>
    <li><%= link_to("Categories", categories_path, class: "button") %></li>
    <li><%= link_to("Recipes", recipes_path, class: "button") %></li>
    <li><%= link_to("Ingredients", ingredients_path, class: "button") %></li>
  </ul>
</nav>